*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "iconfont";
    src: url("font/iconfont.eot");
    src: url("font/iconfont.eot") format("embedded-opentype"),
         url("font/iconfont.woff") format("woff"),
         url("font/iconfont.ttf") format("truetype"),
         url("font/iconfont.svg#iconfog") format("svg");
}

ul{
    list-style: none;
}

a:link,a:visited{
    text-decoration: none;
    color: #333;
}
body{
    font-family: 微软雅黑;
    color: #14191e;
}

.main{
    width: 1200px;
    height: 460px;
    margin: 30px auto;
    overflow: hidden;
    position: relative;
}

.banner{
    width: 1200px;
    height: 460px;
    overflow: hidden;
    position: relative;
}

.banner-slide{
    width: 1200px;
    height: 4600px;
    background-repeat: no-repeat;
    position: absolute;
    display: none;
}

.slide1{
    background-image: url("bg1.jpg");
}
.slide2{
    background-image: url("bg2.jpg");
}
.slide3{
    background-image: url("bg3.jpg");
}

.slide-active{
    display: block;
}

.button{
    position: absolute;
    width: 40px;
    height: 80px;
    left: 244px;
    top: 50%;
    margin-top: -40px;
    background: url("arrow.png") no-repeat center;
}

.button:hover{
    background-color: #333333;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.prev{
    transform: rotate(180deg);
}
.next{
    left: auto;
    right: 0px;
    background: url("arrow.png") no-repeat center;
}

.dots{
    position: absolute;
    right: 20px;
    bottom: 24px;
    text-align: right;
}

.dots span{
    display: inline-block;
    width: 12px;
    height: 12px;
    line-height: 12px;
    border-radius: 50%;
    background: rgba(7,17,27,0.4);
    box-shadow: 0 0 0 2px rgba(255,255,255,0.8) inset;
    margin-left: 8px;
    cursor: pointer;
}

.dots span.active{
    box-shadow: 0 0 0 2px rgba(7,17,27,0.4) inset;
    background: #fff;
}

/*导航菜单*/
.menu-box{
    width: 244px;
    height: 460px;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(7,17,27,0.5);
    opacity: 0.5;
    z-index: 1;
}

.menu-content{
    width: 244px;
    height: 460px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    padding-top: 6px;
}

.menu-item{
    height: 64px;
    line-height: 66px;
    font-size: 16px;
    padding: 0 24px;
    position: relative;
}

.menu-item a:link,.menu-item a:visited{
    color: #fff;
}

.menu-item a{
    display: block;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding: 0 8px;
    height: 63px;
}

.menu-item i{
    position: absolute;
    right: 32px;
    font-size: 24px;
    top: 0;
    font-family: iconfont;
    font-style: normal;
    font-weight: normal;
    color: rgba(255,255,255,0.5);
}

.sub-menu{
    width: 730px;
    height: 458px;
    border: 1px solid #d9dde1;
    background: #fff;
    position: absolute;
    left: 244px;
    top: 0;
    z-index: 999;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

.inner-box{
    width: 100%;
    height: 100%;
    background: url("fe.png") no-repeat;
    display: none;
}

.sub-inner-box{
    width: 652px;
    margin-left: 40px;
    overflow: hidden;
}

.title{
    color: #f01414;
    font-size: 16px;
    line-height: 16px;
    margin: 28px 0 30px 0;
    font-weight: bold;
}

.sub-row{
    margin-bottom: 25px;
}

.bold{
    font-weight: bold;
}
.mr10{
    margin-right: 10px;
}
.ml10{
    margin-left: 10px;
}
.hide{
    display: none;
}
